#chatbox-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
}

#chatbox-header {
    cursor: pointer;
}

#chatbox-toggle {
    width: 100%;
    border-radius: 15px;
}

#chatbox-body {
    display: none;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    margin-top: 10px;
}

#chatbox {
    max-width: 100%; /* Add this line to limit the width */
    word-wrap: break-word; /* Ensure long words wrap within the chatbox */
}
